<header class="limit-size">

	<div id="nav-menu">
		<nav>
			<ul>
				<a href="#"><img src="{{ style }}/media/icons/logo.svg"></a>

				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About Us</a>
				</li>
				<li>
					<a href="#">Blog</a>
				</li>
				<li>
					<a href="#">Reviews</a>
				</li>
				<li>
					<a href="#">Subscribe</a>
				</li>
				<li>
					<a href="{{ link3 }}">Sign In</a>
				</li>
			</ul>
		</nav>
	</div>

	<div id="nav-list">
		<nav>
			<ul>
				<li>
					<a href="#">All Recipes</a>
				</li>
				<!-- START LOOP HERE -->
				{% for category in categories %}
					<li>
						<a href="{{link2}}{{ category.cid }}">
							{{ category.cname }}
						</a>
					</li>
				{% endfor %}
			</nav>
		</div>

	</header>
